.bigWord {
  font-family: "SFNSDisplay";
  font-size: 20px;
  color: #4a4a4a;
  display: flex;
  align-items: center;
}
.smallWord {
  font-family: "AppleSystemUIFont";
  font-size: 12px;
  color: #424242;
  display: flex;
  align-items: center;
}

input {
  height: 40px;
}
input::placeholder {
  font-family: "SFNSDisplay";
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
  padding-left: 16px;
}
.sumit:hover {
  box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
}
.num {
  font-family: SFNSDisplay;
  font-size: 32px;
  height: 32px;
}
